header {
  line-height: normal;

  p.logo {
    color: $primary-color;
    display: inline-block;
    margin: 0;
    font-size: em(37.08);

    span {
      font-size: em(8.75);
      color: $tertiary-color;
    }
  }

  nav {
    @include outer-container;
    padding: em(22.92) em(22.92) em(8.75) em(22.92);
    text-align: center;
  }

  nav ul {
    float: right;
    margin-top: em(18);
  }

  nav li {
    display: inline-block;
    margin-right: em(37.08);
  }
}

@include media($large-screen-up) {
  header {
    nav {
      text-align: left;
    }
  }
}

footer {
  @include outer-container;
  text-align: center;
  margin-top: em(37.08);
}
