.index {
  .animated {
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-delay: .25s;
    -webkit-animation-delay: .25s;
  }

  main > section { padding-top: em(22.92); }

  .container { @include outer-container; }

  .me {
    @include span-columns(10);
    @include shift(1);
    text-align: center;

    h1 {
      font-size: em(60);
      margin: em(14.16) 0 em(8.75) 0;
      color: $secondary-color;
    }

    .social {
      margin-top: em(37.08);

      .group {
        margin-top: em(37.08);

        a {
          color: $tertiary-color;
          margin-right: em(22.92);
        }

        a:last-child {
          margin-right: 0;
        }
      }

      a:hover { color: $secondary-color; }
      i { font-size: em(37.08); }
    }

  }

  @include media($large-screen-up) {
    .me {
      @include span-columns(6);
      @include shift(3);
    }

    .social {
      .group {
        display: inline-block;
        margin-right: em(22.92);
      }

      .group:last-child {
        margin-right: 0;
      }
    }
  }


  .about {
    @include span-columns(6);
    height: em(254);

    p {
      padding: 0 em(37.08);
      margin-top: em(60);
      text-align: center;
    }
  }
}
